node_modules/*
backend/node_modules/*
backend/src/commons/*
backend/src/commons/tsconfig.frontend.tsbuildinfo
frontend/commons/interface/*
frontend/commons/tsconfig.frontend.tsbuildinfo
frontend/node_modules/*
backend/package-lock.json
frontend/package-lock.json
commons/package-lock.json
commons/node_modules/*
bookmaker-model/venv/*
package-lock.json
backend/dist/*
frontend/dist/*
bookmaker-mode/__pycache__/*
bookmaker-model/**/__pycache__/*
bookmaker-model/data/dataset_with_recent_performance.csv
bookmaker-model/data/matches_clean.csv
.scannerwork/*
reports/*