<nav class="profile-menu">
    <ul class="flex space-x-4 justify-center p-4 bg-gradient-to-r from-mypurple to-mypurple/80 shadow-lg border-b border-mypink/30">
      <li>
        <a (click)="navigateTo('selection')" class="px-4 py-2 text-mywhite hover:bg-mypurple/60 hover:text-myyellow transition-colors duration-200 rounded-md">Selection</a>
      </li>
      <li>
        <a (click)="navigateTo('information')" class="px-4 py-2 text-mywhite hover:bg-mypurple/60 hover:text-myyellow transition-colors duration-200 rounded-md">Vos informations</a>
      </li>
      <li>
        <a (click)="navigateTo('current-bets')" class="px-4 py-2 text-mywhite hover:bg-mypurple/60 hover:text-myyellow transition-colors duration-200 rounded-md">Paris en cours</a>
      </li>
      <li>
        <a (click)="navigateTo('finished-bets')" class="px-4 py-2 text-mywhite hover:bg-mypurple/60 hover:text-myyellow transition-colors duration-200 rounded-md">Paris Terminé</a>
      </li>
    </ul>
  </nav>
  