<div class="reset-password-container">
    <h2 class="reset-password-title">Réinitialiser votre mot de passe</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password" class="form-label">Nouveau mot de passe</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-input"
          required
        />
        <div *ngIf="resetPasswordForm.get('password')!.invalid && resetPasswordForm.get('password')!.touched" class="error-message">
          Le mot de passe doit contenir au moins 6 caractères.
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword" class="form-label">Confirmer le mot de passe</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          class="form-input"
          required
        />
        <div *ngIf="resetPasswordForm.get('confirmPassword')!.invalid && resetPasswordForm.get('confirmPassword')!.touched" class="error-message">
          Les mots de passe ne correspondent pas.
        </div>
      </div>
      <button type="submit" class="submit-button" [disabled]="resetPasswordForm.invalid">
        Réinitialiser le mot de passe
      </button>
    </form>
  </div>
  